@model CalorieBurnMgt.DTOs.ForgotPasswordRequestDto

@{
    ViewData["Title"] = "Forget Password";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Send the reset link</button>
    </div>
</form>
